@model List<Google.Apis.YouTube.v3.Data.SearchResult>

   


@{
    ViewBag.Title = "SearchList";
}

<h2>SearchList</h2>

@foreach (var item in ViewBag.lista)
{
    @*<div class="row">
            <div class="col-md-4">
                <div id="idvidd" data-name="@item.Id.VideoId"></div>
                <br>@item.Snippet.Title<br />

            </div>


        </div>*@
    <div>@item.Snippet.Title</div>


}

